<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <li class="has_submenu">
      <span>About Spring Cloud Data Flow for Kubernetes</span>
      <ul>
        <li>
          <a id='home-nav-link' href="/scdf-k8s/0-1/index.html">Spring Cloud Data Flow for Kubernetes Docs Home</a>
        </li>

        <li>
          <a href="/scdf-k8s/0-1/release-notes.html">Release Notes</a>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
      <span>Operator Guide</span>
      <ul>
        <li>
          <a href="/scdf-k8s/0-1/installing.html">Installation</a>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
      <span>Developer Guide</span>
      <ul>
        <li>
          <a href="/scdf-k8s/0-1/getting-started.html">Getting Started</a>
        </li>
      </ul>
    </li>
  </div>
</div><!--end of sub-nav-->
