<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <li>
      <a id='home-nav-link' href="/scdf-k8s/0-1/index.html">Overview</a>
    </li>
    <li>
      <a href="/scdf-k8s/0-1/release-notes.html">Release Notes</a>
    </li>
    <li class="has_submenu">
      <span>Preparation</span>
      <ul>
        <li>
          <a href="/scdf-k8s/0-1/preparing-to-install-scdf-for-kubernetes.html">Preparing to Install Spring Cloud Data Flow for Kubernetes</a>
        </li>
        <li>
          <a href="/scdf-k8s/0-1/installing-command-line-tools.html">Installing Commane-Line Tools</a>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
      <span>Configuration</span>
      <ul>
        <li>
          <a href="/scdf-k8s/0-1/configuring-installation-values.html">Configuring Installation Values for Spring Cloud Data Flow for Kubernetes</a>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
      <span>Installation</span>
      <ul>
        <li>
          <a href="/scdf-k8s/0-1/installing-scdf-for-kubernetes.html">Installing Spring Cloud Data Flow for Kubernetes</a>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
      <span>Getting Started</span>
      <ul>
        <li>
          <a href="/scdf-k8s/0-1/connecting-scdf-for-kubernetes.html">Connecting to Spring Cloud Data Flow for Kubernetes</a>
        </li>
        <li>
          <a href="/scdf-k8s/0-1/getting-started-pipeline.html">Creating a Data Pipeline with Spring Cloud Data Flow for Kubernetes</a>
        </li>
      </ul>
    </li>
  </div>
</div><!--end of sub-nav-->
